{% extends 'base.html.twig' %}

{% block body %}
<h1>Test</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem delectus distinctio dolores et id illum in,
    minima molestiae mollitia officiis quia, quidem quo sapiente sequi tempore vitae, voluptate voluptatem!</p>
{% endblock %}