body {
    color: white;
    background-color: #282a2e;
}

nav {
    z-index: 1000;
}

a {
    color: white !important;
}

a:hover {
    color: rgb(151,194,72) !important;
    text-decoration: none;
}

a:focus {
    color: rgb(151,194,72) !important;
}

main {
    padding: 5% 0 0;
}

form {
    margin: 5%;
}

footer {
    padding: 3%;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 55px;
}


hr {
    margin: 0;
    background-color: white;
    -webkit-box-shadow: 0 0 8px 0 rgba(255,255,255,1);
    -moz-box-shadow: 0 0 8px 0 rgba(255,255,255,1);
    box-shadow: 0 0 8px 0 rgba(255,255,255,1);
}

.hr-style {
    width: 75%;
    height: 5px;
    margin: 2.5em auto auto;
}

.display-flex {
    display: flex;
}

.transparency {
    opacity: 0;
}

.full-size {
    width: 100%;
    height: 100%;
}

.white-color {
    color: white;
}

/* Navbar Design */
.navbar-dark {
    height: 110px;
}

.nav-space {
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-toggle::after {
    margin-left: 0;
}

.bg-dropdown {
    background-color: #282a2e;
}

.bg-dropdown a:hover {
    background-color: #282a2e;
}

.nav-margin {
    margin-left: 235px;
}

.logo {
    margin-left: 0;
    padding-right: 10px;
    height: 25px;
    align-self: center;
}

/* Slider */
.slider {
    height: 260px;
}

.showslider {
    width: 100%;
    height: 260px;
}

.left {
    left: 0;
}

.right {
    right: 0;
    z-index: 1000;
}

.play {
    display: none;
    opacity: 0.4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pause {
    opacity: 0.4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icon-center {
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 10%;
}

.circle-icon {
    border: 3px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
}

.slider-icons {
    height: 260px;
    z-index: 2;
}

.slider-icons img {
    max-height: 100%;
}

/* Main Block Design */
/* Project */
.h-img-project {
    max-height: 450px;
}

/* Skills */
.size-img-skills {
    max-width: 100%;
    max-height: 100px;
}

/* Pagination */
.pagination {
    justify-content: center;
}

.page-link, .page-item.disabled .page-link, .page-link:hover {
    background-color: #282a2e;
    border: none;
}

.page-item.active .page-link {
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(255,255,255,0);
}

/* Admin Page */
.delete-color {
    color: red !important;
}

.min-img {
    width: 60px;
    height: 50px;
}

.thead-design {
    background-color: white;
}

.tbody-design {
    background-color: #adb5bd;
}

/* Icons Design Index */
.sm-w-100 {
    width: 100% !important;
}

/* Form Page (login-register-contact) */
.img-form {
    display: none;
}

.m-form {
    margin: 0 5%;
}

/* width 100% forcing */
.w-25 {
    width: 100% !important;
}

.circle-rad {
    border-radius: 50%;
}

@media screen and (min-width: 769px) {
    main {
        padding: 3%;
    }

    form {
        margin: 0;
    }

    footer {
        text-align: left;
    }

    .logo {
        margin-left: 2em;
    }

    /* Slider */
    .slider {
        height: 445px;
    }

    .showslider {
        height: 445px;
    }

    .slider-icons {
        height: 445px;
    }

    .w-25 {
        width: 25% !important;
    }

    .w-50 {
        width: 50% !important;
    }

    .w-75 {
        width: 75%!important;
    }

    .align-center {
        margin: auto;
    }

    /* Form Page (login-register-contact) */
    .img-form {
        margin: auto 0 auto 10%;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .slider {
        height: 615px;
    }

    .showslider {
        height: 615px;
    }

    .slider-icons {
        height: 615px;
    }

    .slider-icons img {
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .slider {
        height: 650px;
    }

    .showslider {
        height: 650px;
    }

    .slider-icons {
        height: 650px;
    }
}

@media screen and (min-width: 1921px) {
    .slider {
        height: 980px;
    }

    .showslider {
        height: 980px;
    }

    .slider-icons {
        height: 980px;
    }
}