{% extends 'base.html.twig' %}
{% block title %}Usako - Message envoyé !{% endblock %}

{% block body %}
    <main>
        <h1>Message envoyé !</h1>
        <p>Merci pour votre méssage, vous recevrez une réponse dans les meilleurs delais</p>
    </main>
{% endblock %}